@use '@angular/material' as mat;
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}

.course-card {
  padding: 10px;
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
}